<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<meta name="viewport" content="width=1226"/>
    <title>控制台demo</title>
	<link rel="shortcut icon" href="ui/img/bootstrap.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/3.3.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="ui/css/index.css"/>
</head>
<body>

	<!--固定导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button><!--响应式设计，当窗口很小时把导航栏压缩成按钮菜单-->
				<a class="navbar-brand" href="/">返回首页</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#">控制</a></li>
					<li><a href="/mysite_php_yxf/view/template/timer.html">设置</a></li>
					<li><a href="#">信息</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu"><!--下拉菜单-->
							<li><a href="#">文档</a></li>
							<li class="divider"></li>
							<li><a href="#">关于...</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">用户<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu"><!--下拉菜单-->
							<li><a href="#"><span class="glyphicon glyphicon-home"></span>用户信息</a></li>
							<li class="divider"></li>
							<li><a href="#">登录</a></li>
							<li><a href="#">注册</a></li>
						</ul>
					</li>
				</ul>
			  <ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">控制</a></li>
				<li><a href="#">设置</a></li>
				<li><a href="#">信息</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu"><!--下拉菜单-->
						<li><a href="#">文档</a></li>
						<li class="divider"></li>
						<li><a href="#">关于...</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">用户<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu"><!--下拉菜单-->
						<li><a href="#"><span class="glyphicon glyphicon-home"></span>用户信息</a></li>
						<li class="divider"></li>
						<li><a href="#">登录</a></li>
						<li><a href="#">注册</a></li>
					</ul>
				</li>
			  </ul>
			  <form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			  </form>
			</div>
		</div>
    </nav>

	<!--主体-->
    <main class="container-fluid">
		<!--按列分区-->
		<div class="row">
			<!--第一列，左侧固定控制面板，可折叠菜单-->
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#nav-sidebar-item1" data-toggle="collapse">当前状态<b class="caret"></b></a></li>
					<ul id="nav-sidebar-item1" class="nav collapse in">
						<li><a href="#main-overview">总览</a></li>
						<li><a href="#main-analyze">分析</a></li>
						<li><a href="#main-export">导出</a></li>
					</ul>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="#nav-sidebar-item2" data-toggle="collapse">产品与服务<b class="caret"></b></a></li>
					<ul id="nav-sidebar-item2" class="nav collapse in">
						<li><a href="">域名</a></li>
						<li><a href="">云解析</a></li>
						<li><a href="">云虚拟主机</a></li>
						<li><a href="">短信服务</a></li>
					</ul>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="#nav-sidebar-item3" data-toggle="collapse">用户中心<b class="caret"></b></a></li>
					<ul id="nav-sidebar-item3" class="nav collapse">
						<li><a href="">账号管理</a></li>
						<li><a href="">费用中心</a></li>
						<li><a href="">消息中心</a></li>
						<li><a href="">安全管控</a></li>
					</ul>
				</ul>
			</div>

			<!--第二列，右侧信息展示区-->
			<div id="main-overview" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">概要</h1>
				<div class="row placeholders">
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/mysite_php_yxf/view/static/image/acmusume-large/01.png" class="img-responsive" alt="Generic placeholder thumbnail">
						<div class="caption">
							<h3>缩略信息</h3>
							<p>...</p>
							<p><a href="#" class="btn btn-primary" role="button">按钮</a> <a href="#" class="btn btn-default" role="button">按钮</a></p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/mysite_php_yxf/view/static/image/acmusume-large/02.png" class="img-responsive" alt="Generic placeholder thumbnail">
						<div class="caption">
							<h3>缩略信息</h3>
							<p>...</p>
							<p><a href="#" class="btn btn-primary" role="button">按钮</a> <a href="#" class="btn btn-default" role="button">按钮</a></p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/mysite_php_yxf/view/static/image/acmusume-large/03.png" class="img-responsive" alt="Generic placeholder thumbnail">
						<div class="caption">
							<h3>缩略信息</h3>
							<p>...</p>
							<p><a href="#" class="btn btn-primary" role="button">按钮</a> <a href="#" class="btn btn-default" role="button">按钮</a></p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img src="/mysite_php_yxf/view/static/image/acmusume-large/04.png" class="img-responsive" alt="Generic placeholder thumbnail">
						<div class="caption">
							<h3>缩略信息</h3>
							<p>...</p>
							<p><a href="#" class="btn btn-primary" role="button">按钮</a> <a href="#" class="btn btn-default" role="button">按钮</a></p>
						</div>
					</div>
				</div>
				
				<h2 class="page-header">展示</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>   
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="/mysite_php_yxf/view/static/image/e525650c51873ba127f350a11ee15fe5.jpg" alt="First slide">
							<div class="carousel-caption">风景</div>
						</div>
						<div class="item">
							<img src="/mysite_php_yxf/view/static/image/20150202174215_BHB5G.jpg" alt="Second slide">
							<div class="carousel-caption">炫彩</div>
						</div>
						<div class="item">
							<img src="/mysite_php_yxf/view/static/image/1440x900_847d4a5d784f60b.jpg" alt="Third slide">
							<div class="carousel-caption">黑夜</div>
						</div>
					</div>
					<!-- 轮播（Carousel）导航 -->
					<a class="carousel-control left" href="#myCarousel" 
					   data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" 
					   data-slide="next">&rsaquo;</a>
				</div> 

				<h2 class="sub-header">详细信息</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>属性1</th>
								<th>属性2</th>
								<th>属性3</th>
								<th>属性4</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							  <td>1,001</td>
							  <td>Lorem</td>
							  <td>ipsum</td>
							  <td>dolor</td>
							  <td>sit</td>
							</tr>
							<tr>
							  <td>1,002</td>
							  <td>amet</td>
							  <td>consectetur</td>
							  <td>adipiscing</td>
							  <td>elit</td>
							</tr>
							<tr>
							  <td>1,003</td>
							  <td>Integer</td>
							  <td>nec</td>
							  <td>odio</td>
							  <td>Praesent</td>
							</tr>
							<tr>
							  <td>1,003</td>
							  <td>libero</td>
							  <td>Sed</td>
							  <td>cursus</td>
							  <td>ante</td>
							</tr>
							<tr>
							  <td>1,004</td>
							  <td>dapibus</td>
							  <td>diam</td>
							  <td>Sed</td>
							  <td>nisi</td>
							</tr>
							<tr>
							  <td>1,005</td>
							  <td>Nulla</td>
							  <td>quis</td>
							  <td>sem</td>
							  <td>at</td>
							</tr>
							<tr>
							  <td>1,006</td>
							  <td>nibh</td>
							  <td>elementum</td>
							  <td>imperdiet</td>
							  <td>Duis</td>
							</tr>
							<tr>
							  <td>1,007</td>
							  <td>sagittis</td>
							  <td>ipsum</td>
							  <td>Praesent</td>
							  <td>mauris</td>
							</tr>
							<tr>
							  <td>1,008</td>
							  <td>Fusce</td>
							  <td>nec</td>
							  <td>tellus</td>
							  <td>sed</td>
							</tr>
							<tr>
							  <td>1,009</td>
							  <td>augue</td>
							  <td>semper</td>
							  <td>porta</td>
							  <td>Mauris</td>
							</tr>
							<tr>
							  <td>1,010</td>
							  <td>massa</td>
							  <td>Vestibulum</td>
							  <td>lacinia</td>
							  <td>arcu</td>
							</tr>
							<tr>
							  <td>1,011</td>
							  <td>eget</td>
							  <td>nulla</td>
							  <td>Class</td>
							  <td>aptent</td>
							</tr>
							<tr>
							  <td>1,012</td>
							  <td>taciti</td>
							  <td>sociosqu</td>
							  <td>ad</td>
							  <td>litora</td>
							</tr>
							<tr>
							  <td>1,013</td>
							  <td>torquent</td>
							  <td>per</td>
							  <td>conubia</td>
							  <td>nostra</td>
							</tr>
							<tr>
							  <td>1,014</td>
							  <td>per</td>
							  <td>inceptos</td>
							  <td>himenaeos</td>
							  <td>Curabitur</td>
							</tr>
							<tr>
							  <td>1,015</td>
							  <td>sodales</td>
							  <td>ligula</td>
							  <td>in</td>
							  <td>libero</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="main-analyze" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h1 class="page-header">第二页</h1>
			</div>
			<div id="main-export" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h1 class="page-header">第三页</h1>
			</div>
		</div>
	</main>

<script src="lib/jquery/jquery-3.1.1.min.js"></script>
<script src="lib/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="ui/js/index.js?v=1"></script>
</body>
</html>