{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_metaphysics' %}?op=wannianli">玄学历法</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_metaphysics' %}?op=bazi">八字</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_metaphysics' %}?op=liuyao">六爻</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_metaphysics' %}?op=jinkoujue">金口诀</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_metaphysics' %}?op=xiaochengtu">小成图</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">今日日历</a>
                <dl class="layui-nav-child">
                    <dd>
                        <div id="leftcalendar"></div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <script>
    $(function(){
        var myDate = new Date();
        var myDateDate = myDate.getFullYear()+"-"+String(Number(myDate.getMonth()+1))+"-"+myDate.getDate();
        var myDateTime = myDate.getHours()+":"+myDate.getMinutes();
        $.ajax({
            url: "//{{ host }}:8002/wannianli?date="+myDateDate+"&time="+myDateTime+"&op=json",
            type:"GET",
            timeouut:10000,
            success:function (data) {
                var parsedJson = eval(data);
                if(parsedJson){
                    for(let item in parsedJson){
                        if(item<=2){
                            $("#leftcalendar").append('<div style="font-size:0.8rem;white-space:normal;">'+parsedJson[item][1]+'</div>');
                        }else if(item<=3){
                            $("#leftcalendar").append('<div style="font-size:0.8rem;white-space:normal;">'+parsedJson[item]+'</div>');
                        }
                    };
                }
            }
        });
    });
    </script>
</div>
{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    layui.use(['laydate'], function(){
       var laydate = layui.laydate;
       laydate.render({
          elem: '#datetimepicker',
          type: 'datetime',
          format: 'yyyy-MM-dd HH:mm',
          value: '2018-08-18 12:00',
        });
    });
});
</script>
{% if op == 'wannianli' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>玄学历法</h3>
        </div>
        <div class="layui-card-body">
            <span>日期时间：</span><input type="text" id="datetimepicker" class="layui-input" style="display:inline;width:130px;">
            <button class="layui-btn">转到</button>
            <hr>
            <div id="contentcalendar">
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    var myDate = new Date();
    var myDateDate = myDate.getFullYear()+"-"+String(Number(myDate.getMonth()+1))+"-"+myDate.getDate();
    var myDateTime = myDate.getHours()+":"+myDate.getMinutes();
    $.ajax({
        url: "//{{ host }}:8002/wannianli?date="+myDateDate+"&time="+myDateTime+"&op=json"+"&return_fengshui=True&return_zhongyi=True&return_huangji=True",
        type:"GET",
        timeouut:10000,
        success:function (data) {
            var parsedJson = eval(data);
            if(parsedJson){
                for(let item in parsedJson){
                    if(item<=2){
                        $("#contentcalendar").append('<div class="list-group-item">'+parsedJson[item][1]+'</div>');
                    }else{
                        $("#contentcalendar").append('<div class="list-group-item">'+parsedJson[item]+'</div>');
                    }
                };
            }
        }
    });
    $("#content button").click(function(){
        $.ajax({
            url: "//{{ host }}:8002/wannianli?date="+$("#datetimepicker").val().split(" ")[0]+"&time="+$("#datetimepicker").val().split(" ")[1]+"&op=json"+"&return_fengshui=True&return_zhongyi=True&return_huangji=True",
            type:"GET",
            timeouut:10000,
            success:function (data) {
                var parsedJson = eval(data);
                if(parsedJson){
                    $("#contentcalendar").html("");
                    for(let item in parsedJson){
                        if(item<=2){
                            $("#contentcalendar").append('<div class="list-group-item">'+parsedJson[item][1]+'</div>');
                        }else{
                            $("#contentcalendar").append('<div class="list-group-item">'+parsedJson[item]+'</div>');
                        }
                    };
                }
            }
        });
    });
});
</script>
{% elif op == 'bazi' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>八字排盘</h3>
        </div>
        <div class="layui-card-body">
            <span>日期时间：</span><input type="text" style="width:130px;display:inline;" id="datetimepicker" class="layui-input">
            <span>性别：</span>
            <select id="xingbie" class="layui-input" style="width:130px;display:inline;" >
                <option>男</option>
                <option>女</option>
            </select>
            <button class="layui-btn">排盘</button>
            <div id="pan">
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $("#content button").click(function(){
            $.ajax({
                url: "//{{ host }}:8002/bazi?date="+$("#datetimepicker").val().split(" ")[0]+"&time="+$("#datetimepicker").val().split(" ")[1]+"&xingbie="+$("#xingbie").val()+"&op=str",
                type:"GET",
                timeouut:10000,
                success:function (data) {
                    if(data){
                        $("#pan").html("");
                        $("#pan").append('<pre><textarea style="font-size:0.8rem;width:100%;height:550px;overflow-x:scroll;" readonly="readonly" wrap="off">'+data+'</textarea></pre>');
                    }
                }
            });
        });
    });
    </script>
</div>
{% elif op == 'liuyao' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>六爻排盘</h3>
        </div>
        <div class="layui-card-body">
            <span>日期时间：</span><input type="text" style="width:130px;display:inline;" id="datetimepicker" class="layui-input">
            <span>起卦方法：</span>
            <select id="qiguafangfa" class="layui-input" style="width:130px;display:inline;" >
                <option>标准时间起卦</option>
            </select>
            <span>纳干支法：</span>
            <select id="naganzhifa" class="layui-input" style="width:130px;display:inline;" >
                <option>传统京氏</option>
                <option>先天甲子易</option>
            </select>
            <button class="layui-btn">排盘</button>
            <div id="pan">
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $("#content button").click(function(){
        $.ajax({
            url: "//{{ host }}:8002/liuyao?date="+$("#datetimepicker").val().split(" ")[0]+"&time="+$("#datetimepicker").val().split(" ")[1]+"&qiguafangfa="+$("#qiguafangfa").val()+"&naganzhifa="+$("#naganzhifa").val()+"&op=str",
            type:"GET",
            timeouut:10000,
            success:function (data) {
                if(data){
                    $("#pan").html("");
                    $("#pan").append('<pre><textarea style="font-size:0.8rem;width:100%;height:200px;" readonly="readonly" wrap="off">'+data+'</textarea></pre>');
                }
            }
        });
    });
});
</script>
{% elif op == 'jinkoujue' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>金口诀排盘</h3>
        </div>
        <div class="layui-card-body">
            <span>日期时间：</span><input type="text" class="layui-input" style="width:130px;display:inline;" id="datetimepicker">
            <span>地分：</span>
            <select id="difen" class="layui-input" style="width:70px;display:inline;">
                <option>子</option>
                <option>丑</option>
                <option>寅</option>
                <option>卯</option>
                <option>辰</option>
                <option>巳</option>
                <option>午</option>
                <option>未</option>
                <option>申</option>
                <option>酉</option>
                <option>戌</option>
                <option>亥</option>
            </select>
            <span>月将：</span>
            <select id="yuejiang" class="layui-input" style="width:70px;display:inline;">
                <option>子</option>
                <option>丑</option>
                <option>寅</option>
                <option>卯</option>
                <option>辰</option>
                <option>巳</option>
                <option>午</option>
                <option>未</option>
                <option>申</option>
                <option>酉</option>
                <option>戌</option>
                <option>亥</option>
            </select>
            <span>占时：</span>
            <select id="zhanshi" class="layui-input" style="width:70px;display:inline;">
                <option>子</option>
                <option>丑</option>
                <option>寅</option>
                <option>卯</option>
                <option>辰</option>
                <option>巳</option>
                <option>午</option>
                <option>未</option>
                <option>申</option>
                <option>酉</option>
                <option>戌</option>
                <option>亥</option>
            </select>
            <button class="layui-btn">排盘</button>
            <div id="pan">
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $("#content button").click(function(){
        $.ajax({
            url: "//{{ host }}:8002/jinkoujue?date="+$("#datetimepicker").val().split(" ")[0]+"&time="+$("#datetimepicker").val().split(" ")[1]+"&difen="+$("#difen").val()+"&yuejiang="+$("#yuejiang").val()+"&zhanshi="+$("#zhanshi").val()+"&op=str",
            type:"GET",
            timeouut:10000,
            success:function (data) {
                if(data){
                    $("#pan").html("");
                    $("#pan").append('<pre><textarea style="font-size:0.8rem;width:100%;height:200px;" readonly="readonly" wrap="off">'+data+'</textarea></pre>');
                }
            }
        });
    });
});
</script>
{% elif op == 'xiaochengtu' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>小成图排盘</h3>
        </div>
        <div class="layui-card-body">
            <span>日期时间：</span><input type="text" class="layui-input" style="width:130px;display:inline;" id="datetimepicker">
            <span>灵动数：</span><input type="number" value=0 min=0 step="1" id="lingdongshu" class="layui-input" style="width:70px;display:inline;">
            <span>归藏方法：</span>
            <select id="guizangfangfa" class="layui-input" style="width:130px;display:inline;">
                <option>四正</option>
                <option>四隅</option>
                <option>四正四隅</option>
                <option>本卦</option>
            </select>
            <button class="layui-btn">排盘</button>
            <div id="pan">
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $("#content button").click(function(){
        $.ajax({
            url: "//{{ host }}:8002/xiaochengtu?date="+$("#datetimepicker").val().split(" ")[0]+"&time="+$("#datetimepicker").val().split(" ")[1]+"&guizangfangfa="+$("#guizangfangfa").val()+"&op=str",
            type:"GET",
            timeouut:10000,
            success:function (data) {
                if(data){
                    $("#pan").html("");
                    $("#pan").append('<pre><textarea style="font-size:0.8rem;width:100%;height:200px;" readonly="readonly" wrap="off">'+data+'</textarea></pre>');
                }
            }
        });
    });
});
</script>
{% endif %}
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                今年分月干支
            </div>
            <div class="layui-colla-content layui-show">
                <div id="rightcalendar" style="font-size:0.8rem;"></div>
            </div>
        </div>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                今月分日干支
            </div>
            <div class="layui-colla-content layui-show">
                <div style="font-size:0.8rem;"></div>
            </div>
        </div>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                今日分时干支
            </div>
            <div class="layui-colla-content layui-show">
                <div style="font-size:0.8rem;"></div>
            </div>
        </div>
    </div>
    <script>
    $(function(){
        var myDate = new Date();
        var myDateDate = myDate.getFullYear()+"-"+String(Number(myDate.getMonth()+1))+"-"+myDate.getDate();
        var myDateTime = myDate.getHours()+":"+myDate.getMinutes();
        $.ajax({
            url: "//{{ host }}:8002/wannianli?date="+myDateDate+"&time="+myDateTime+"&op=json&subop=get_GanzhiOneYear&year="+myDate.getFullYear(),
            type:"GET",
            timeouut:10000,
            success:function (data) {
                var parsedJson = eval(data);
                if(parsedJson){
                    for(let item in parsedJson){
                        $("#rightcalendar").append('<div class="list-group-item">'+parsedJson[item]+'</div>');
                    };
                }
            }
        });
    });
    </script>
</div>

{% endblock %}
