<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link href="/static/favicon/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet">
    <style type="text/css">
        body {
              padding-top: 40px;
              padding-bottom: 40px;
              background:url(/static/img/bg.jpg);
            }
        .layui-card {
              max-width: 330px;
              padding: 15px;
              margin: 0 auto;
            }
        form button{
              background-color: #417690;
            }
        form button:hover{
              background-color: #0F3357;
            }
    </style>
    <script src="/static/lib/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body>
    <div class="layui-card">
        <form class="layui-form layui-form-pane" method="post" action="">
            <h2 class="form-signin-heading">请登录</h2><br/>
            {% csrf_token %}
            <div class="layui-form-item pane">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="purpose" style="display: none;" value="login">
                    <input type="text" name="username" id="username"  class="layui-input" autocomplete="off" placeholder="用户名" required autofocus>
                </div>
            </div>
            <div class="layui-form-item pane">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="pd" id="pd" class="layui-input" autocomplete="off" placeholder="密码" required>
                </div>
            </div>
            <div class="layui-form-item pane">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" id="submit">登录</button>
                </div>
            </div>
            <a href="{% url 'app_user_register' %}" style="color:darkcyan;">没有账号？点击注册</a>
            <a href="{% url 'index' %}" style="color:darkcyan;float:right;">返回首页</a>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            layui.use(['element','form','layer'], function(){
                var element = layui.element;
                var form = layui.form;
                var layer = layui.layer;
                {% for m in messages %}layer.msg("{{ m }}");{% endfor %}
            });
        });
    </script>
</body>
</html>