<div class="col-xs-4 col-sm-3 col-md-2 hidden-xs" id="left">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user newicon"></span>
            用户区
        </div>
        <div class="panel-body">
            <a href="{% url 'app_user_profile'  %}">用户文档列表</a>
            <a href="{% url 'app_user_profile' %}?{{ config_res }}">用户配置信息</a>
            <a href="{% url 'app_user_profile' %}?{{ pan_res }}">用户网盘内容</a>
            <a href="{% url 'app_user_profile' %}?{{ cancel_res }}">用户注销</a>
        </div>
    </div>
</div><!-- end col left -->

