<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">用户区</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_user_profile' %}?{{ pan_res }}">用户网盘内容</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_user_profile' %}?{{ config_res }}">用户配置信息</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_user_profile' %}?{{ cancel_res }}">用户注销</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
