<div class="main col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-xs-9 col-sm-9 col-md-9" id="content">
<style type="text/css">#content .row { padding-left:15px;padding-right: 15px;}</style>
{% if arg_list == 'True' %}
  <h3>{{ user.username }} - 文章列表【建设中】</h3>
  <hr/>
  <div class="row placeholders">
    <form style="display: inline;" role="form" method="post" enctype="multipart/form-data" action="{% url 'app_user_profile' %}">
      {% csrf_token %}
      <input type="text" name="purpose" value="upload_file" style="display: none;">
      <p style="display: inline;">归属用户：</p>
      <input style="max-width: 100px;" type="text" name="username" readonly="true" value="{{ user.username }}" required>
      <p style="display: inline;">上传到：</p>
      <input style="max-width: 100px;" type="text" name="filepath" required autofocus>
      <input style="display: inline;max-width:75px; " type="file" multiple name="upload-file" id="file-upload" accept="text/*,image/*,audio/*,video/*,.flv,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.json,.md,.rtf,.7z,.rar,.zip,.bz2,.xz,.tar,.iso,.img,.deb,.rpm,.shtml,.xhtml" required>
      <button class="btn btn-primary btn-inline" type="submit" id="submit" disabled="true">上传</button>
    </form>
    <button class="btn btn-warning btn-inline" id="clean">清空</button>
    <ul id="file-list">
    </ul>
    <div>
      <h5 id="page-message"></h5>
      {% for m in messages %}<h5>{{ m }}</h5>{% endfor %}
    </div>
    <hr/>
    <div class="row placeholders">
      <ul class="list-group">
        <button class="delete" style="display: none;"></button><!--隐藏的程序控件-->
        {% for item in pan_list %}
        <li class="list-group-item">
          <a href="{% url 'app_blog_editmd' %}/{{ item.filename }}"><button class="btn btn-info btn-sm btn-inline edit">编辑</button></a>
          <p style="display: none;">{{ item.userpath }}</p>
          <p style="display: none;">{{ item.filename }}</p>
          <b title="于 {{ item.upload_time }} 上传">{{ item.userpath }}/{{ item.filename }}</b>
          <button class="btn btn-danger btn-sm btn-inline delete">删除</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <style type="text/css">
      #content button {
        min-width: 50px;
        max-width: 200px;
        margin: auto;
      }
    </style>
    <script type="text/javascript">
      $(function(){
          //clean
          $("#clean").click(function(){
            $("#page-message").empty();
            $("#file-upload").val("");
            $("#file-list").empty();
            $("#submit").removeAttr("disabled");
          });
      });
    </script>
  </div>
{% elif arg_pan == 'True' %}
  <h3>{{ user.username }} - 网盘文件</h3>
  <hr/>
  <div class="row placeholders">
    <form style="display: inline;" role="form" method="post" enctype="multipart/form-data" action="{% url 'app_user_profile' %}">
      {% csrf_token %}
      <input type="text" name="purpose" value="upload_file" style="display: none;">
      <p style="display: inline;">归属用户：</p>
      <input style="max-width: 100px;" type="text" name="username" readonly="true" value="{{ user.username }}" required>
      <p style="display: inline;">上传到：</p>
      <input style="max-width: 100px;" type="text" name="filepath" required autofocus>
      <input style="display: inline;max-width:75px; " type="file" multiple name="upload-file" id="file-upload" accept="text/*,image/*,audio/*,video/*,.flv,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.json,.md,.rtf,.7z,.rar,.zip,.bz2,.xz,.tar,.iso,.img,.deb,.rpm,.shtml,.xhtml" required>
      <button class="btn btn-success btn-inline" type="submit" id="submit" disabled="true">上传</button>
    </form>
    <button class="btn btn-warning btn-inline" id="clean">清空</button>
    <ul id="file-list">
    </ul>
    <div>
      <h5 id="page-message"></h5>
      {% for m in messages %}<h5>{{ m }}</h5>{% endfor %}
    </div>
    <hr/>
    <div class="row placeholders">
      <ul class="list-group">
        <button class="delete" style="display: none;"></button><!--隐藏的程序控件-->
        {% for item in pan_list %}
        <li class="list-group-item">
          <a href="{% url 'app_user_download' %}{{ item.username }}/{{ item.userpath }}/{{ item.filename }}"><button class="btn btn-info btn-sm btn-inline download">下载</button></a>
          <p style="display: none;">{{ item.userpath }}</p>
          <p style="display: none;">{{ item.filename }}</p>
          <b title="于 {{ item.upload_time }} 上传">{{ item.userpath }}/{{ item.filename }}</b>
          <button class="btn btn-danger btn-sm btn-inline delete">删除</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <style type="text/css">
      #content button {
        min-width: 50px;
        max-width: 200px;
        margin: auto;
      }
    </style>
    <script type="text/javascript">
      $(function(){
          //clean
          $("#clean").click(function(){
            $("#page-message").empty();
            $("#file-upload").val("");
            $("#file-list").empty();
            $("#submit").removeAttr("disabled");
          });
          //file upload
          $("#file-upload").change(function(){
            $("#submit").removeAttr("disabled");
            var fp = $("#file-upload");
            var lg = fp[0].files.length; // get length
            var items = fp[0].files;
            var fragment = "";
            var size = 0;
            if (lg > 0) {
                for (var i = 0; i < lg; i++) {
                  var fileName = items[i].name; // get file name
                  var fileSize = items[i].size; // get file size
                  var fileType = items[i].type; // get file type
                  // append li to UL tag to display File info
                  fragment += "<li title=\"(" + fileSize + " bytes) - Type: " + fileType + "\" >" + fileName +"</li>";
                  size += fileSize;
                  if (size > 64000000){
                    $("#page-message").append("文件大小超限！最高一次性上传64M！");
                    $("#submit").attr("disabled", true);
                  }
                }
                $("#file-list").append(fragment);
              }
          });
          //file delete
          $(".delete").click(function(){
              $.ajax({
                url: "{% url 'app_user_profile' %}",
                type:"POST",
                timeouut:10000,
                data:{
                  "purpose":"delete_file",
                  "username":"{{ request.user.username }}",
                  "userpath":$(this).prev().prev().prev().text(),
                  "filename":$(this).prev().prev().text(),
                  "csrfmiddlewaretoken":"{{ csrf_token }}"
                },
                success:function (data) {
                  var parsedJson = eval(data);
                  if(parsedJson.status=="ok"){window.location.reload();}
                }
              });
          });
      });
    </script>
  </div>
{% elif arg_config == 'True' %}
  <h3>{{ user.username }} - 用户信息</h3><hr>
  <div class="row placeholders">
  <form role="form" method="post" action="{% url 'app_user_profile' %}">
    {% csrf_token %}
    <input type="text" name="purpose" value="change_config" style="display: none;">
    <h4>用户名：</h4>
    <input type="text" name="username" class="form-control" placeholder="用户名"  readonly="true" value="{{ user.username }}" required autofocus>
    <h4>旧密码：</h4>
    <input type="password" name="pd_old" class="form-control" placeholder="密码" required>
    <h4>新密码：</h4>
    <input type="password" name="pd_new" class="form-control" placeholder="密码" required>
    <h4>确认新密码：</h4>
    <input type="password" name="pd_new_c" class="form-control" placeholder="密码" required>
    <h4>邮箱：</h4>
    <input type="text" name="email" class="form-control" placeholder="邮箱" value="{{ user.email }}" required>
    <br/>
    <button class="btn btn-primary btn-block" type="submit" id="submit">提交修改</button>
    <br/>
    {% for m in messages %}<h5>{{ m }}</h5>{% endfor %}
  </form>
  <style type="text/css">
    #content button {
      min-width: 100px;
      max-width: 150px;
      width: 40%;
      margin: auto;
    }
  </style>
  </div>
{% elif arg_cancel == 'True' %}
  <h3>用户注销 - {{ user.username }}</h3><hr>
  <div class="row placeholders">
  <h4 style="color:red">注意：此操作将在系统中永久删除此用户，请谨慎操作！</h4>
  <form role="form" method="post" action="{% url 'app_user_profile' %}">
    {% csrf_token %}
    <input type="text" name="purpose" value="cancel_user" style="display: none;">
    <h4>用户名：</h4>
    <input type="text" name="username" class="form-control" placeholder="用户名"  readonly="true" value="{{ user.username }}" required autofocus>
    <h4>密码：</h4>
    <input type="password" name="pd" class="form-control" placeholder="密码" required>
    <h4>确认密码：</h4>
    <input type="password" name="pd_c" class="form-control" placeholder="密码" required>
    <h4>邮箱：</h4>
    <input type="text" name="email" class="form-control" placeholder="邮箱" required>
    <br/>
    <button class="btn btn-danger btn-block" type="submit" id="submit">注销</button>
    <br/>
    {% for m in messages %}<h5>{{ m }}</h5>{% endfor %}
  </form>
  <style type="text/css">
    #content button {
      min-width: 100px;
      max-width: 150px;
      width: 40%;
      margin: auto;
    }
  </style>
  </div>
{% else %}
{% endif %}
</div>