<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <link rel="shortcut icon" href="/static/favicon/favicon64.ico" type="image/x-icon">
    <link href="/static/lib/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
              padding-top: 40px;
              padding-bottom: 40px;
              background:url(/static/img/bg.jpg);
            }
        .form-signin {
              max-width: 330px;
              padding: 15px;
              margin: 0 auto;
            }
        .form-signin button{
              background-color: #aaa;
              border-color: #666;
            }
        .form-signin button:hover{
              background-color: #777;
            }
    </style>
    <script src="/static/lib/jquery/jquery-3.3.1.min.js" ></script>
    <script src="/static/lib/bootstrap/3.3.0/js/bootstrap.min.js" ></script>
</head>
<body>
    <div class="container">
  		<form class="form-signin" role="form" method="post" action="{% url 'app_user_register' %}">
        {% csrf_token %}
  			<h2 class="form-signin-heading">填写注册信息</h2>
        <input type="text" name="username" id="username" class="form-control" placeholder="用户名" required autofocus>
  			<input type="password" name="pd" id="pd" class="form-control" placeholder="密码" required>
        <input type="text" name="email" class="form-control" placeholder="邮箱" required>
        <div class="checkbox">
          <h5 id="message"></h5>
        </div>
  			<button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">提交注册</button>
  			<br/>
  			<a href="{% url 'app_user_login' %}">已有账号？点击登录</a>
        {% for m in messages %}<h5>{{ m }}</h5>{% endfor %}
  		</form>
      <script type="text/javascript">
        $(document).ready(function(){
          $("#username").blur(function(){
            if($("#username").val() != null && $("#username").val() != ""){
              $.ajax({
                  url: "{% url 'app_user_ajax' %}",
                  type:"POST",
                  timeouut:10000,
                  data:{
                    "purpose":"check_user",
                    "username":$("#username").val(),
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                  },
                  success:function (data) {
                    var parsedJson = eval(data);
                    if (parsedJson.count==1){
                      $("#message").html("用户名已存在，请重新输入！")
                    }else{
                      $("#message").html("")}
                    }});}});});
      </script>
    </div> <!-- /container -->
</body>
</html>