{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">网站设置</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'settings' %}?status=1">实时网站状态</a>
                    </dd>
                    <dd>
                        <a href="{% url 'settings' %}?history=1">清空历史记录</a>
                    </dd>
                    <dd>
                        <a href="{% url 'settings' %}?doc=1">更新文档内容</a>
                    </dd>
                    <dd>
                        <a href="{% url 'settings' %}?data=1">操作网站数据</a>
                    </dd>
                    <dd>
                        <a href="{% url 'settings' %}?set=1">网站配置选项</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="layui-col-xs10 layui-col-sm10 layui-col-md10">
    <style>
    .layui-card{
        padding:10px;
    }
    </style>
{% if arg_status %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>服务器实时状态</legend>
    </fieldset>
    {% for item in status_list %}
    {% for key,value in item.items %}
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                {{ key }}
            </div>
            {% if key == '网络地址' or key == '网络状态' %}
                {% for key2,value2 in value.items %}
                <div class="layui-colla-content layui-show">
                    <a class="layui-icon layui-icon-tips">{{ key2 }}:{{ value2 }}</a>
                </div>
                {% endfor %}
            {% elif key == '登录信息' %}
                {% for item2 in value %}
                <div class="layui-colla-content layui-show">
                    <a class="layui-icon layui-icon-tips">{{ item2 }}</a>
                </div>
                {% endfor %}
            {% elif key == '进程信息' %}
                {% for item3 in value %}
                {% for key3,value3 in item3.items %}
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <div class="layui-colla-title">
                            {{ key3 }}
                        </div>
                        {% for key4,value4 in value3.items %}
                        <div class="layui-colla-content">
                            <a class="layui-icon layui-icon-tips">{{ key4 }}:{{ value4 }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% else %}
                <div class="layui-colla-content layui-show">
                    <a class="layui-icon layui-icon-tips">{{ value }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
{% elif arg_history %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>清空历史记录</legend>
    </fieldset>
    <div>
        {% for item in log_list %}
        {% for key,value in item.items %}
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <div class="layui-colla-title">
                    {{ key }}日志
                </div>
                <div class="layui-colla-content">
                    <textarea style="width:100%;height:350px;">
                        {{ value }}
                    </textarea>
                    <form method="post" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <input class="layui-input" type="text" name="purpose" value="clean_log" style="display: none;">
                        <input class="layui-input" type="text" name="logtype" value="{{ key }}" style="display: none;">
                        <button class="layui-btn layui-btn-primary" type="submit">清空日志</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        <script type="text/javascript">
        $(function(){
            //message
            layui.use(['layer'], function(){
                var layer = layui.layer;
                {% for m in messages %}layer.msg("{{ m }}");{% endfor %}
            });
        });
        </script>
    </div>
{% elif arg_doc %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>更新文档内容</legend>
    </fieldset>
    <div class="layui-card">
        <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="layui-form-item pane">
                <label class="layui-form-label" >选择压缩包</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" name="purpose" value="update_doc" style="display: none;">
                    <input class="layui-input" type="file" name="upload-file" id="file-upload" accept="application/zip,.zip" required>
                </div>
            </div>
            {% if remote %}
            <h3>请确认已经提前通过FTP传输了正确的zip压缩包，然后随便上传一个小文件。</h3>
            <h3>网站会完整部署之前通过FTP传输的zip压缩包。</h3>
            {% else %}
            <h3>请把线下整理好的docx文档以文件夹为单位打包成zip格式。</h3>
            <h3>上传后网站会自动部署，文件夹名映射为栏目slug，文档名映射为文档slug。</h3>
            {% endif %}
            <hr>
            <div class="layui-form-item pane">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-disabled" type="submit" id="submit">上传</button>
                    <button class="layui-btn layui-btn-primary" id="clean">清空</button>
                </div>
            </div>
        </form>
        <table class="layui-table">
            <tbody id="file-list">
            </tbody>
        </table>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>文档栏目</th>
                    <th>文档名称</th>
                </tr>
            </thead>
            <tbody>
                {% for item in doc_list %}
                <tr class="list-group-item">
                    <td>{{ item.column }}</td>
                    <td title="于 {{ item.update_time }} 上传">{{ item.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
        $(function(){
            //message
            layui.use(['layer'], function(){
                var layer = layui.layer;
                {% for m in messages %}layer.msg("{{ m }}");{% endfor %}
            });

            //clean
            $("#clean").click(function(){
                $("#page-message").empty();
                $("#file-upload").val("");
                $("#file-list").empty();
                $("#submit").addClass("layui-btn-disabled");
            });

            //file upload
            $("#file-upload").change(function(){
                $("#submit").removeClass("layui-btn-disabled");
                var fp = $("#file-upload");
                var lg = fp[0].files.length; // get length
                var items = fp[0].files;
                var fragment = "";
                var size = 0;
                if (lg > 0) {
                    for (var i = 0; i < lg; i++) {
                        var fileName = items[i].name; // get file name
                        var fileSize = items[i].size; // get file size
                        var fileType = items[i].type; // get file type
                        fragment += "<tr><td>" + fileName + "<p style='float:right;'>"+ fileSize + " bytes - Type: " + fileType + "</p></td></tr>";
                        size += fileSize;
                        if (size > 64000000){
                            layer.msg("文件大小超限！最高一次性上传64M！");
                            $("#submit").addClass("layui-btn-disabled");
                        }
                    }
                    $("#file-list").append(fragment);
                }
            });
        });
        </script>
    </div>
{% elif arg_data %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>操作网站数据</legend>
    </fieldset>
    <div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="layui-form-item pane">
                    <label class="layui-form-label" >导出db-json</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="purpose" value="dump_data" style="display: none;">
                        <input class="layui-input" type="text" name="dumptype" value="dump_db_json" style="display: none;">
                        <button class="layui-btn" type="submit">导出</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'app_user' %}download/mysite.json"><button class="layui-btn layui-btn-normal">下载</button></a>
        </div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="layui-form-item pane">
                    <label class="layui-form-label" >导出db-sql</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="purpose" value="dump_data" style="display: none;">
                        <input class="layui-input" type="text" name="dumptype" value="dump_db_sql" style="display: none;">
                        <button class="layui-btn" type="submit">导出</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'app_user' %}download/mysite.sql"><button class="layui-btn layui-btn-normal">下载</button></a>
        </div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="layui-form-item pane">
                    <label class="layui-form-label" >导出media</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="purpose" value="dump_data" style="display: none;">
                        <input class="layui-input" type="text" name="dumptype" value="dump_data_media" style="display: none;">
                        <button class="layui-btn" type="submit">打包</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'app_user' %}download/media.zip"><button class="layui-btn layui-btn-normal">下载</button></a>
        </div>
        <script type="text/javascript">
        $(function(){
            //message
            layui.use(['layer'], function(){
                var layer = layui.layer;
                {% for m in messages %}layer.msg("{{ m }}");{% endfor %}
            });
        });
        </script>
    </div>
{% elif arg_set %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>网站配置选项</legend>
    </fieldset>
    <div>
        <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="layui-form-item pane">
                <label class="layui-form-label" >重启辅服务</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" name="purpose" value="server_set" style="display: none;">
                    <input class="layui-input" type="text" name="settype" value="restart_subserver" style="display: none;">
                    <button class="layui-btn layui-btn-danger" type="submit">执行</button>
                </div>
            </div>
        </form>
        <hr>
        <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="" style="float:right;">
            {% csrf_token %}
            <div class="layui-form-item pane">
                <label class="layui-form-label" >更新网站</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" name="purpose" value="server_set" style="display: none;">
                    <input class="layui-input" type="text" name="settype" value="update_project" style="display: none;">
                    <button class="layui-btn layui-btn-danger" type="submit">执行</button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
        $(function(){
            //message
            layui.use(['layer'], function(){
                var layer = layui.layer;
                {% for m in messages %}layer.msg("{{ m }}");{% endfor %}
            });
        });
        </script>
    </div>
{% endif %}
</div>
{% endblock %}

{% block right %}
{% endblock %}
