{% extends "common/base.html" %}

{% block left %}
<div class="col-xs-4 col-sm-3 col-md-2 hidden-xs" id="left">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cog"></span>
            网站设置
        </div>
        <div class="list-group">
            <a class="list-group-item" href="{% url 'settings' %}?status=1">实时网站状态</a>
            <a class="list-group-item" href="{% url 'settings' %}?history=1">清空历史记录</a>
            <a class="list-group-item" href="{% url 'settings' %}?data=1">操作网站数据</a>
            <a class="list-group-item" href="{% url 'settings' %}?set=1">网站配置选项</a>
        </div>
    </div>
</div><!-- end col left -->
{% endblock %}

{% block content %}
<div class="main col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-xs-10 col-sm-10 col-md-10" id="content">
<style type="text/css">#content .row { padding-left:15px;padding-right: 15px;}</style>
<h3>管理员网站设置【建设中】</h3>
<hr/>
<div class="row placeholders">
    <div style="width:100%;height:430px;position:relative;">
        <iframe id="console-embedded" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="no" style="width:100%; height:430px; background-color:#000;" src="https://www.pythonanywhere.com/embedded/">
        </iframe>
        <div style="width:100%;height:30px;position:absolute;top:0;left:0;background-color:#000;color:#fff;text-align:right;">
                <span id="info-source" style="color:#fff;margin-right:10px;">Online python console from <a href="https://www.pythonanywhere.com/" target="_blank" style="color:#fff;">PythonAnywhere</a></span>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block right %}
<!--<div class="main col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-xs-2 col-sm-2 col-md-2" id="right">-->
  <!--<form style="text-align:center;">-->
    <!--<input type="button" value="开始计时！" onclick=""/>-->
    <!--<p>-->
      <!--<span>时钟</span>-->
      <!--<span>分钟</span>-->
      <!--<span>秒钟</span>-->
    <!--</p>-->
    <!--<p>-->
      <!--<span id="hour">0</span>-->
      <!--<span id="minute">0</span>-->
      <!--<span id="secend">0</span>-->
    <!--</p>-->
    <!--<input type="button" value="停止计时！" onclick="stopCount()"/>-->
  <!--</form>-->
  <!--<div id="adDiv">然后编写jQuery代码来定时弹出广告和隐藏广告：</div>-->
  <!--<script>-->
    <!--var time;-->
    <!--$(function() {-->
        <!--// 设置定时让其5秒钟之后去执行一个显示广告的方法-->
        <!--time = setInterval("showAd()", 5000);-->
    <!--});-->

    <!--function showAd() {-->
        <!--// 获得代表广告DIV的元素-->
        <!--// $("#adDiv").show(2000);-->
        <!--// $("#adDiv").slideDown(2000);-->
        <!--$("#adDiv").fadeIn(3000);-->
        <!--clearInterval(time);-->
        <!--// 再设置一个定时，5秒钟之后隐藏-->
        <!--time = setInterval("hideAd()", 5000);-->
    <!--}-->

    <!--function hideAd() {-->
        <!--// $("#adDiv").hide(2000);-->
        <!--// $("#adDiv").slideUp(2000);-->
        <!--$("#adDiv").fadeOut(3000);-->
        <!--clearInterval(time);-->
    <!--}-->
<!--</script>-->


<!--<script type="text/javascript">-->
<!--var c=parseInt($("#secend").html());-->
<!--var m=parseInt($("#minute").html());-->
<!--var h=parseInt($("#hour").html());-->
<!--function timedCount(){//// 秒针-->
    <!--c++;-->
    <!--console.log(c);-->
    <!--c<10?c="0"+c:c;-->
    <!--if(c===60){-->
      <!--c=0;}// 写回到页面中-->
    <!--$("#secend").html(c);  //// 分针、时针-->
    <!--if(c%60===0){-->
      <!--m++;-->
      <!--m<10?m="0"+m:m;-->
      <!--if(m===60){-->
        <!--m=0;-->
        <!--h++;-->
        <!--h<10?h="0"+h:h;-->
        <!--if(h===24){-->
          <!--h=0;}}}// 写回到页面中-->
    <!--$("#minute").html(m);-->
    <!--$("#hour").html(h);-->
    <!--}-->
<!--var start=setInterval("timedCount()",1000);  //////////定义停止计时函数-->
<!--function stopCount(){-->
    <!--clearTimeout(start);}-->
<!--</script>-->


<!--</div>-->
{% endblock %}
