{% extends "common/base.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/plugins/editor.md/lib/codemirror/codemirror.min.css" />
<link rel="stylesheet" type="text/css" href="/static/plugins/editor.md/css/editormd.css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/plugins/editor.md/editormd.min.js"></script>
{% endblock %}

{% block page %}
<div id="editmd">
<textarea style="display:none;"></textarea>
</div>
<button class="btn btn-sm btn-success" id="savepage" style="margin-left:40px;">保存</button>
<button class="btn btn-sm btn-warning" id="returnto">返回</button>
<button class="btn btn-sm btn-info" id="download-md">导出md</button>
<button class="btn btn-sm btn-info" id="download-html">导出h5</button>
<script type="text/javascript">
$(function(){

        //预处理
        function GetQueryString(name)
        {
             var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
             var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
             if(r!=null){
                return decodeURI(r[2]);//编码解码是相对的，没有固定方向。实际的URI是%+数字的通用转义形式，要想让程序代码识别，需要decodeURI()
             }else{
                return null;
             }
        };
        var url = "/{{ path }}";
        var fileurl = "/{{ path }}/{{ name }}";
        var htmlurl = "/{{ path }}/{{ html_name }}";
        var imageurl = "/{{ path }}/image";
        $(function(){
                $("#navbar").removeClass("navbar-fixed-top");
                $("body").css("padding-top",0);
                $("#download-md").attr("href",fileurl);
        });

        //获取服务器的md文件，加载编辑器
        $.get(fileurl,function(mdfile){/*load .md file*/
            var editor = editormd("editmd",{ /*editor id*/

                //基础设置
                id:                 "editmd",//编辑器ID
                path:               "/static/plugins/editor.md/lib/",//后端路径
                width:              "95vw",//宽度
                height:             "82vh",//高度
                toolbarAutoFixed:   false,//编辑器工具栏fixed顶部
                htmlDecode :        "style,script,iframe|on*",//解析html代码，可在编辑器里预览效果，过滤特定标签
                markdown :          mdfile,//加载文档mdfile，只在通过文件打开编辑器时使用
                //tocContainer:     "#custom-toc-container", //自定义ToC目录容器
                saveHTMLToTextarea: true,//加载html代码区 .editormd-html-textarea "editmd-html-code"

                //编辑器设置
                codeFold :          true,//代码折叠
                searchReplace :     true,//搜索替换功能
                readOnly :          false,//只读
                styleActiveLine :   true,//动态显示焦点行
                watch  :            true,//预览
                lineNumbers :       true,//行数
                theme:              "default",//容器主题
                previewTheme:       "default",//预览区主题
                editorTheme:        "default",//代码区主题

                //扩展md语法设置
                atLink    :         true, //@link
                emailLink :         true, //@email
                taskList :          true,//任务列表
                toc :               true,//列表式目录
                tocm :              true,//按钮式目录
                tex :               true,//科学公式
                flowChart :         true,//流程图
                sequenceDiagram :   true,//序列图
                emoji :             true,//表情
                pageBreak :         false,//分页，主要用于打印

                //图片上传
                imageUpload :       true,//图片上传
                imageFormats :      ["jpg", "jpeg", "gif", "png", "bmp", "webp", "ico"],//图片格式
                imageUploadURL :    imageurl,//图片上传后端处理程序
            });
        });

        //保存按钮提交保存
        $("#savepage").click(function(){
          $.ajax({
            url: url,
            type:"POST",
            timeouut:10000,
            data:{
              "purpose":"save",
              "path":GetQueryString("path"),
              "name":GetQueryString("name"),
              "csrfmiddlewaretoken":"{{ csrf_token }}",
              "editormd-markdown-textarea":$(".editormd-markdown-textarea").text(),
              "editormd-html-textarea":$(".editormd-html-textarea").text(),
            },
            success:function (data) {alert(data);}
          });
        });

        //返回按钮返回上一个页面
        $("#returnto").click(function(){
          window.history.back(-1);
        });

        //download md
        $("#download-md").click(function(){
            window.location.href = fileurl;
        });

        //download html
        $("#download-html").click(function(){
            window.location.href = htmlurl;
        });
});
</script>
{% endblock %}