{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_webtrans_websocket' %}">图灵机器人</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_webtrans_tcptrans' %}">即时通信</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_webtrans_nat' %}">内网穿透</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_webtrans_wechat' %}">微信应用</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_webtrans_map' %}">地图应用</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_webtrans_proxy' %}">代理访问</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if display == 'map' %}
<iframe src="{% url 'app_webtrans_map_content' %}" style="height:80vh;">
</iframe>
{% elif display == 'tcptrans' %}
{% include 'app_webtrans/tcptrans.html' %}
{% elif display == 'websocket' %}
{% include 'app_webtrans/websocket.html' %}
{% elif display == 'nat' %}
{% include 'app_webtrans/nat.html' %}
{% elif display == 'wechat' %}
{% include 'app_webtrans/wechat.html' %}
{% elif display == 'proxy' %}
{% include 'app_webtrans/proxy.html' %}
{% else %}
{% endif %}
{% endblock %}

{% block right %}
{% endblock %}

{% block toolbar %}
{% endblock %}