@charset "UTF-8";

/*global*/
html{

}
body {
    background-color:#F2F2F2;
}
iframe{
    margin: 0;
    padding: 0;
    padding-right: 1px;
    width: 100%;
    border: 0;
    overflow-y: hidden;
}
img{
    max-width:100%;
    max-height:100%;
}
.layui-colla-content:hover{
    background-color:#eee;
}
.layui-collapse{
    background-color:#fff;
}
.layui-card,.layui-collapse{
    margin:10px;
}

/*navbar*/
#navbar .layui-nav{
    padding:0;
}
#navbar,#navbar .layui-nav-child{
    background-color: #2F4056;
}
#navbar .layui-nav a{
    color:#fff;
}
#navbar .layui-nav a:hover{
    background-color:#0F3357;
}
.layui-header,#navbar .layui-main,#navbar .logo img{
    height:50px;
}
#navbar .layui-nav .layui-nav-item{
    line-height: 50px;
}
#navbar .layui-nav .layui-nav-item a{
    padding: 0 15px;
}
#navbar .layui-nav-child{
    top: 50px;
}

/*left*/
#left .layui-nav{
    background-color:#393D49;
}
.layui-layout-admin .layui-side{
    top:50px;
}
#left .layui-nav .layui-nav-item{
    line-height: 30px;
}

/*toolbar*/
#toolbar{
    position:fixed;right:20px;bottom:20px;
    z-index:2001;
    font-size:0.75rem;
}
#toolbar a{
    position:relative;
    display:block;
    width:40px;
    height:40px;
    margin-top:5px;
    border-radius:3px 0 0 3px;
    background:rgba(220,229,239,0.9);
    overflow:hidden;
    text-decoration:none;
}
#toolbar .layui-icon{
    display:block;
    font-size:40px;
    color:#009688;
    -webkit-transition:all .3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
#toolbar .txt{
    display:block;
    width:30px;
    height:40px;
    line-height:20px;
    padding-top:2px;
    margin:auto;
    color:#009688;
    font-style:normal;
    font-weight:400;
    text-align:center;
}
#toolbar a:hover .layui-icon{
    margin-top:-45px;
}
#toolbar .qrcode{
    position:fixed;
    background-color: rgba(255,255,255,0.5);
    text-align:center;
    right:61px;
    bottom:20px;
    width: 150px;
    height: 150px;
    display: none;
}
#toolbar .qrcodeimg{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    background-image: url(/static/img/微信个人二维码.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/
#footer,#footer a{
    color:#777;
}
#footer a:hover{
    color:darkcyan;
}

/*main*/
.layui-layout-admin .layui-body{
    top:50px;
    bottom:0;
}

/*main content*/

/*main right*/
#right a{
    color: darkcyan;
}
