@charset "UTF-8";

body{
	padding-top: 50px;
}

#navbar a:hover,#navbar button:hover{
	background-color: #eee;
}

.sidebar{
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.sidebar a {text-decoration:none;display: block;padding: 4px; font-size: 17px;}
.sidebar a:hover {background-color:#eee;}
.sidebar{overflow-y: hidden;}
.sidebar:hover{overflow-y: auto;}

#footer{
	position: 
}