{% extends "common/base.html" %}

{% block left %}
<div class="col-xs-4 col-sm-3 col-md-2 hidden-xs" id="left">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-book"></span>
            博文分类
        </div>
        <div class="list-group">
            {% for item in left_list %}
            <a class="list-group-item glyphicon glyphicon-chevron-right {% if active == item.slug %}{{ 'active' }}{% endif %}" href="{% url 'app_blog_index' %}?active={{ item.slug }}" title="{{ item.info }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-xs-9 col-sm-9 col-md-9" id="content">
    <h3 class="main" id="content-title"><a href="{% url 'app_blog_index' %}doc/{{ active }}" title="进入栏目">{{ active_column.name }}</a> 分类的所有文章【建设中】</h3><hr>
    <div class="row placeholders">
      <style type="text/css">
          #content .content-description{
          overflow: hidden;
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
          -webkit-box-orient:vertical;
          display:-webkit-box;
        }
      </style>
      <div class="list-group">
          {% for item in content_list %}
          {% if item.slug != 'index' %}
            <a href="{% url 'app_blog_index' %}doc/{{ active_column.slug }}/{{ item.slug }}" class="list-group-item">
              <h4 style="display: inline;color:darkorange;" class="list-group-item-heading">{{ item.title }}</h4><span class="list-group-item-text pull-right label label-info">{{ item.column.name }}</span>
              <p class="list-group-item-text pull-right">{% for keyword in item.keywords %}<span class="label label-default" style="margin: 5px;">{{ keyword }}</span>{% endfor %}</p>
              <p class="list-group-item-text content-description">{{ item.description }}</p>
            </a>
          {% endif %}
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}

{% block right %}
<div class="main col-xs-offset-9 col-sm-offset-9 col-md-offset-9 col-xs-3 col-sm-3 col-md-3" id="right">
    <br/>
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-flag"></span>
            信息
        </div>
        <div class="list-group">
            <a class="list-group-item glyphicon glyphicon-tags" title="关键词">&nbsp;{{ active_column.info }}</a>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-edit"></span>
            信息
        </div>
        <div class="list-group">
            <a class="list-group-item glyphicon glyphicon-plus"></a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}