{% extends "common/base.html" %}

{% block left %}
{% endblock %}

{% block content %}
<div id="content" class="layui-col-xs9 layui-col-sm9 layui-col-md9">
    <link rel="stylesheet" href="/static/plugins/editor.md/css/editormd.preview.css"/>
    <style>
        #content .layui-card{
            padding:20px;
        }
        #editmdview,#toc-container,#toc-info{
            padding:0;
        }
        .markdown-body ul, .markdown-body ol{
            padding-left:1em;
        }
    </style>
    <div class="layui-card">
        <div id="editmdview">
            <textarea style="display:none;">{{ content_post_file }}</textarea>
        </div>
    </div>
    <script src="/static/plugins/editor.md/lib/marked.min.js"></script>
    <script src="/static/plugins/editor.md/lib/prettify.min.js"></script>
    <script src="/static/plugins/editor.md/lib/raphael.min.js"></script>
    <script src="/static/plugins/editor.md/lib/underscore.min.js"></script>
    <script src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/editormd.js"></script>
    <script type="text/javascript">
        $(function() {
            var testEditormdView = editormd.markdownToHTML("editmdview", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                toc             : true,
                tocm            : true,    // Using [TOCM]
                tocContainer    : "#toc-container", // 自定义 ToC 容器层
                gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
            $("#page").css("left","0");
        });
    </script>
</div>
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                文档结构
            </div>
            <div class="layui-colla-content layui-show" id="toc-info">
                <div class="markdown-body editormd-preview-container" id="toc-container">#toc-container</div>
            </div>
        </div>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                文档信息
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-note" title="作者">&nbsp;{{ content_post.user.username }}</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-note" title="关键词">&nbsp;{% for keyword in content_post.keywords %}{{ keyword }}{% endfor %}</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-note" title="描述">&nbsp;{{ content_post.description }}</a>
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                文档操作
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-edit" href="#layer-edit" onclick="handleEdit()" style="color: blue;">编辑</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-delete" href="#layer-delete" onclick="handleDelete()" style="color: red;">删除</a>
            </div>
        </div>
    </div>
    {% endif %}
    <script type="text/javascript">
        $(function() {
            $("#form-edit-btn").click(function() {
                layer.close(layer.index);
            });
            $("#form-delete-btn").click(function() {
                layer.close(layer.index);
            });
        });
        function handleEdit(){
            layer.open({
              type: 1,
              title:'编辑',
              content: $('#layer-edit'),
            });
        }
        function handleDelete(){
            layer.open({
              type: 1,
              title:'删除',
              content: $('#layer-delete'),
            });
        }
    </script>
</div>
{% endblock %}

{% block addition %}
{% if request.user.is_authenticated %}
<div id="layer-edit" style="display:none;padding:10px;">
    <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
        <span class="layui-badge-rim">title</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档标题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="title" value="{{ content_post.title }}" required autocomplete="off"  maxlength="256">
            </div>
        </div>
        <span class="layui-badge-rim">postclass</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
                <select class="layui-input" name="postclass" required >
                  {% for item in left_list %}
                  <option value="{{ item.id }}">{{ item.name }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
        <span class="layui-badge-rim">keywords</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="以半角分号区分多个关键字" name="keywords" autocomplete="off" value="{{ content_post.keywords }}" maxlength="256">
            </div>
        </div>
        <span class="layui-badge-rim">description</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="description" autocomplete="off" value="{{ content_post.description }}">
            </div>
        </div>
        <span class="layui-badge-rim">content</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">实体文件</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="file" accept=".md" readonly="readonly" value="{{ content_post.content }}">
            </div>
        </div>
        <div class="layui-form-item pane">
            <div class="layui-input-block">
                <input type="text" name="purpose" value="edit" style="display: none;">
                <input type="text" name="postid" value="{{ content_post.id }}" style="display: none;">
                <button type="submit" class="layui-btn layui-btn-normal">编辑</button>
                <button type="button" class="layui-btn layui-btn-primary" id="form-edit-btn">关闭</button>
                {% csrf_token %}
            </div>
        </div>
    </form>
</div>
<div id="layer-delete" style="display:none;padding:10px;">
    <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
        <span class="layui-badge-rim">id</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档ID</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{{ content_post.id }}" readonly="readonly" name="id">
            </div>
        </div>
        <span class="layui-badge-rim">title</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档标题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="title" value="{{ content_post.title }}" readonly="readonly" maxlength="256">
            </div>
        </div>
        <span class="layui-badge-rim">postclass</span>
        <div class="layui-form-item pane">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
                <select class="layui-input" name="postclass" required disabled>
                  {% for item in left_list %}
                  <option value="{{ item.id }}">{{ item.name }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item pane">
            <input type="text" name="purpose" value="delete" style="display: none;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-danger">删除</button>
                <button type="button" class="layui-btn layui-btn-primary" id="form-delete-btn">关闭</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endif %}
{% endblock %}
