<!DOCTYPE html>
	<html lang="zh-CN">
	<head>
		<meta charset="utf-8"><!--显式指定本页面编码-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--告知IE以最高版本解析-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--适应设备宽度-->
        <meta name="apple-mobile-web-app-capable" content="yes"><!--删除苹果移动端浏览器默认的工具栏和菜单栏-->
        <meta name="format-detection" content="telephone=no"><!--禁止把数字转化为链接-->
		{% block head %}
            <title>{{ title }}</title>

			<link href="/static/favicon/favicon.png" rel="shortcut icon" type="image/png">
			<link href="/static/lib/layui/css/layui.css" rel="stylesheet">
			<link href="/static/css/base.css" rel="stylesheet">
			<script src="/static/lib/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
			<script src="/static/lib/layui/layui.js" charset="utf-8"></script>
			<script src="/static/js/base.js" charset="utf-8"></script>

			{% block extracss %}
			{% endblock %}

			{% block extrajs %}
			{% endblock %}

		{% endblock %}
	</head>

	<body>
        <div class="layui-layout layui-layout-admin">
            {% block navbar %}
                {% include "common/navbar.html" %}
            {% endblock %}

            {% block left %}
                {% include "common/left.html" %}
            {% endblock %}

            {% block main %}
            <div class="layui-body" id="page">

                <div class="layui-row" id="main">
                    {% block title_content_right %}
                        {% block content %}
                            {% include "common/content.html" %}
                        {% endblock %}

                        {% block right %}
                            {% include "common/right.html" %}
                        {% endblock %}
                    {% endblock %}
                </div>

                {% block footer %}
                    {% include "common/footer.html" %}
                {% endblock %}
            </div>
            {% endblock %}

            {% block toolbar %}
                {% include "common/toolbar.html" %}
            {% endblock %}
        </div>

        {% block addition %}
        {% endblock %}
	</body>
</html>
