<!DOCTYPE html>
	<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{{ keywords }}"/>
		<meta name="description" content="{{ description }}"/>
		{% block head %}
			{% block title %}
				<title>{{ title }}</title>
			{% endblock %}
			
			<link rel="shortcut icon" href="/static/favicon/favicon64.ico" type="image/x-icon">
			<link href="/static/lib/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
			<link href="/static/css/basic.css" rel="stylesheet">
			<script src="/static/lib/jquery/jquery-3.3.1.min.js" ></script>
			<script src="/static/lib/bootstrap/3.3.0/js/bootstrap.min.js" ></script>

			{% block extracss %}
			{% endblock %}

			{% block extrajs %}
			{% endblock %}

			{% block compaticity %}
				<!--[if lt IE 7]>
				<style>
				#leftcolumn{margin-left:0}
				</style>
				<![endif]-->
			{% endblock %}
		{% endblock %}
	</head>

	<body>
		{% block navbar %}
	    	<nav class="navbar navbar-default navbar-fixed-top">
	      		<div class="container-fluid">
					{% include "common/navbar.html" %}
			     </div><!-- /.container-fluid -->
			</nav>
		{% endblock %}

		{% block page %}
			<div class="container-fluid" id="page">
				<div class="row">
					{% block left %}
						{% include "common/left.html" %}
					{% endblock %}

					{% block main %}
						{% include "common/main.html" %}
					{% endblock %}

					{% block right %}
						{% include "common/right.html" %}
					{% endblock %}
				</div>
			</div><!-- end page div -->
		{% endblock %}<!-- end block page -->

		{% block toolbar %}
			<div class="container-fluid">
				{% include "common/toolbar.html" %}
			</div>
		{% endblock %}

		{% block addition %}
			<div class="container-fluid">
			</div>
		{% endblock %}

		<a class="backtop" href="javascript:void"></a>	
	</body>
</html>
