<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title" style="color: green;">
                <i class="layui-icon layui-icon-read"></i>
                文档栏目
            </div>
            {% for item in list %}
            <div class="layui-colla-content layui-show">
                <a href="{% url 'app_tutorial' %}doc/{{ item.slug }}" title="{{ item.info }}"><i class="layui-icon layui-icon-right"></i>{{ item.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title" style="color: orangered;">
                <i class="layui-icon layui-icon-fire"></i>
                博客分类
            </div>
            {% for item in list2 %}
            <div class="layui-colla-content layui-show">
                <a href="{% url 'app_tutorial' %}doc/{{ item.id }}" title="{{ item.info }}"><i class="layui-icon layui-icon-right"></i>{{ item.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>