{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="{% url 'app_tutorial' %}" title="返回上级">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{ column.name }}
                </a>
                <dl class="layui-nav-child">
                    {% for item in left_list %}
                    {% if item.slug != 'index' %}
                    <dd>
                        <a href="{% url 'app_tutorial' %}doc/{{ column.slug }}/{{ item.slug }}" title="{{ item.description }}">{{ item.title }}</a>
                    </dd>
                    {% endif %}
                    {% endfor %}
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="layui-col-xs9 layui-col-sm9 layui-col-md9">
    <link rel="stylesheet" href="/static/plugins/editor.md/css/editormd.preview.css"/>
    <style>
        #content .layui-card{
            padding:20px;
        }
        #editmdview,#toc-container,#toc-info{
            padding:0;
        }
        .markdown-body ul, .markdown-body ol{
            padding-left:1em;
        }
    </style>
    <div class="layui-card">
        <div id="editmdview">
            <textarea style="display:none;">{{ content_doc_file }}</textarea>
        </div>
    </div>
    <script src="/static/plugins/editor.md/lib/marked.min.js"></script>
    <script src="/static/plugins/editor.md/lib/prettify.min.js"></script>
    <script src="/static/plugins/editor.md/lib/raphael.min.js"></script>
    <script src="/static/plugins/editor.md/lib/underscore.min.js"></script>
    <script src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/editormd.js"></script>
    <script type="text/javascript">
        $(function() {
            var testEditormdView = editormd.markdownToHTML("editmdview", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                toc             : true,
                tocm            : true,    // Using [TOCM]
                tocContainer    : "#toc-container", // 自定义 ToC 容器层
                gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    </script>
</div>
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="glyphicon glyphicon-book"></span>
                文档结构
            </div>
            <div class="layui-colla-content layui-show" id="toc-info">
                <div class="markdown-body editormd-preview-container" id="toc-container">#toc-container</div>
            </div>
        </div>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="glyphicon glyphicon-book"></span>
                文档信息
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-note" title="关键词">&nbsp;{% for keyword in content_doc.keywords %}{{ keyword }}{% endfor %}</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-note" title="描述">&nbsp;{{ content_doc.description }}</a>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="glyphicon glyphicon-book"></span>
                文档操作
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-add-1" href="#layer-new" onclick="handleNew()" style="color: green;">新建</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-edit" href="#layer-edit" onclick="handleEdit()" style="color: blue;">编辑</a>
            </div>
            <div class="layui-colla-content layui-show">
                <a class="layui-icon layui-icon-delete" href="#layer-delete" onclick="handleDelete()" style="color: red;">删除</a>
            </div>
            {% for m in messages %}<div class="layui-colla-content layui-show"><h5>{{ m }}</h5></div>{% endfor %}
        </div>
    </div>
    {% endif %}
    <script type="text/javascript">
        $(function() {
            $("#form-new-btn").click(function() {
                layer.close(layer.index);
            });
            $("#form-edit-btn").click(function() {
                layer.close(layer.index);
            });
            $("#form-delete-btn").click(function() {
                layer.close(layer.index);
            });
        });
        function handleNew(){
            layer.open({
              type: 1,
              title:'新建',
              content: $('#layer-new'),
            });
        }
        function handleEdit(){
            layer.open({
              type: 1,
              title:'编辑',
              content: $('#layer-edit'),
            });
        }
        function handleDelete(){
            layer.open({
              type: 1,
              title:'删除',
              content: $('#layer-delete'),
            });
        }
    </script>
</div>
{% endblock %}

{% block addition %}
{% if request.user.is_superuser %}
<div id="layer-new" style="display:none;padding:10px;">
    <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
        <p>[slug] prefix:{% url 'app_tutorial' %}doc/{{ column.slug }}/</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档域</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="slug" required autocomplete="off" maxlength="256">
            </div>
        </div>
        <p>[title]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档标题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="title" required autocomplete="off" maxlength="256">
            </div>
        </div>
        <p>[keywords]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="以半角分号区分多个关键字" name="keywords"  maxlength="256">
            </div>
        </div>
        <p>[description]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="description">
            </div>
        </div>
        <p>[content] 注：若不选择，则默认生成一个空白文件；上传后自动重命名；仅限.md格式</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">实体文件</label>
            <div class="layui-input-block">
                <input type="file" class="layui-input" name="file" accept=".md" >
            </div>
        </div>
        <div class="layui-form-item pane">
            <div class="layui-input-block">
                <input type="text" name="purpose" value="new" style="display: none;">
                <input type="text" name="column" value="{{ column.slug }}" style="display: none;">
                <button type="submit" class="layui-btn">新建</button>
                <button type="button" class="layui-btn layui-btn-primary" id="form-new-btn">关闭</button>
                {% csrf_token %}
            </div>
        </div>
    </form>
</div>
<div id="layer-edit" style="display:none;padding:10px;">
    <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
        <p>[slug] {% url 'app_tutorial' %}doc/{{ column.slug }}/</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档域</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" value="{{ content_doc.slug }}" readonly="readonly" name="slug"  maxlength="256">
            </div>
        </div>
        <p>[title]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档标题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="title" value="{{ content_doc.title }}" required autocomplete="off"  maxlength="256">
            </div>
        </div>
        <p>[keywords]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="以半角分号区分多个关键字" name="keywords" value="{{ content_doc.keywords }}" maxlength="256">
            </div>
        </div>
        <p>[description]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="description" value="{{ content_doc.description }}">
            </div>
        </div>
        <p>[content]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">实体文件</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="file" accept=".md" readonly="readonly" value="{{ content_doc.content }}">
            </div>
        </div>
        <div class="layui-form-item pane">
            <div class="layui-input-block">
                <input type="text" name="purpose" value="edit" style="display: none;">
                <input type="text" name="column" value="{{ column.slug }}" style="display: none;">
                <button type="submit" class="layui-btn layui-btn-normal">编辑</button>
                <button type="button" class="layui-btn layui-btn-primary" id="form-edit-btn">关闭</button>
                {% csrf_token %}
            </div>
        </div>
    </form>
</div>
<div id="layer-delete" style="display:none;padding:10px;">
    <form class="layui-form layui-form-pane" method="post" enctype="multipart/form-data" action="">
        <p>[slug] {% url 'app_tutorial' %}doc/{{ column.slug }}/</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档域</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" value="{{ content_doc.slug }}" readonly="readonly" name="slug"  maxlength="256">
            </div>
        </div>
        <p>[title]</p>
        <div class="layui-form-item pane">
            <label class="layui-form-label">文档标题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="必填项" name="title" value="{{ content_doc.title }}" readonly="readonly" maxlength="256">
            </div>
        </div>
        <div class="layui-form-item pane">
            <input type="text" name="purpose" value="delete" style="display: none;">
            <input type="text" name="column" value="{{ column.slug }}" style="display: none;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-danger" {% if content_doc.slug == 'index' %} disabled="true" {% endif %}>删除</button>
                <button type="button" class="layui-btn layui-btn-primary" id="form-delete-btn">关闭</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endif %}
{% endblock %}