{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">栏目</a>
                <dl class="layui-nav-child">
                    {% for item in left_list %}
                    <dd>
                        <a class="{% if active == item.slug %}{{ 'active' }}{% endif %}" href="{% url 'app_tutorial' %}?active={{ item.slug }}" title="{{ item.info }}">{{ item.name }}</a>
                    </dd>
                    {% endfor %}
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="layui-col-xs9 layui-col-sm9 layui-col-md9">
    <style>
        h3{
            color:#333;
            display:inline-block;
        }
        h3:hover{
            color:#5FB878;
        }
        .layui-badge-rim{
            color:#5FB878;border: 1px solid #5FB878;
        }
        .layui-badge{
            margin-right:10px;
        }
    </style>
    <fieldset class="layui-elem-field layui-field-title">
        <legend><a id="content-title" href="{% url 'app_tutorial' %}doc/{{ active }}" title="进入栏目" style="color:darkcyan;">{{ active_column.name }}</a> 栏目的所有文档</legend>
    </fieldset>
    {% for item in content_list %}
    {% if item.slug != 'index' %}
    <div class="layui-card">
        <div class="layui-card-header">
            <a href="{% url 'app_tutorial' %}doc/{{ active_column.slug }}/{{ item.slug }}">
                <span class="layui-badge-rim">{{ item.column.name }}</span>
                <h3>{{ item.title }}</h3>
                <p style="display:inline-block;float:right;">{% for keyword in item.keywords %}<span class="layui-badge layui-bg-blue">{{ keyword }}</span>{% endfor %}</p>
            </a>
        </div>
        <div class="layui-card-body">
            <p class="">{{ item.description }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="glyphicon glyphicon-flag"></span>
                栏目信息
            </div>
            <div class="layui-colla-content layui-show">
                <a class="list-group-item glyphicon glyphicon-tags" title="关键词">&nbsp;{{ active_column.info }}</a>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="glyphicon glyphicon-edit"></span>
                栏目操作
            </div>
            <div class="layui-colla-content layui-show">
                <a class="list-group-item glyphicon glyphicon-plus">请到后台管理</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}