<div class="col-xs-4 col-sm-3 col-md-2 hidden-xs" id="left">
    <div class="panel">
    {% if view == 'tutorial' %}
    <div class="panel-heading">
        <span class="glyphicon glyphicon-book"></span>
        栏目
    </div>
    <div class="list-group">
        {% for item in left_list %}
        <a class="list-group-item glyphicon glyphicon-chevron-right {% if active == item.slug %}{{ 'active' }}{% endif %}" href="{% url 'app_tutorial_index' %}?active={{ item.slug }}" title="{{ item.info }}">{{ item.name }}</a>
        {% endfor %}
    </div>
    {% elif view == 'column' or view == 'doc' %}
    <div class="panel-heading">
        <a href="{% url 'app_tutorial_index' %}" style="text-decoration: none;color: darkcyan;" title="返回上级">
        <span class="glyphicon glyphicon-chevron-right"></span>
        {{ title }}
        </a>
    </div>
    <div class="list-group">
        {% for item in left_list %}
        {% if item.slug != 'index' %}
        <a class="list-group-item" href="{% url 'app_tutorial_index' %}doc/{{ column.slug }}/{{ item.slug }}" title="{{ item.description }}">{{ item.title }}</a>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
    </div>
</div>
