{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_spider' %}?op=all">监控</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=zufang">租房买房数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=zhaopin">招聘数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=hunlian">婚恋数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider_index' %}" target="_blank">搜索</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if op == 'all' %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>爬虫数据总览</h3>
        </div>
        <div class="layui-card-body">
            <div>
                content charts
            </div>
        </div>
    </div>
</div>
{% elif op == 'myspider' %}
{% elif op == 'zufang' %}
{% elif op == 'zhaopin' %}
{% elif op == 'hunlian' %}
{% endif %}
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                状态信息
            </div>
            <div class="layui-colla-content layui-show">
                {% if op == 'all' %}
                <div>

                </div>
                {% elif op == 'myspider' %}
                {% elif op == 'zufang' %}
                {% elif op == 'zhaopin' %}
                {% elif op == 'hunlian' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
