{% extends "common/base.html" %}

{% block extrajs %}
<script src="/static/plugins/highcharts/highcharts.js" charset="utf-8"></script>
<script src="/static/plugins/highcharts/highcharts-3d.js" charset="utf-8"></script>
{% endblock %}

{% block left %}
<div id="left" class="layui-side layui-bg-black layui-hide-xs">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_spider' %}?op=all">监控</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=fangchan">房产数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=zhaopin">招聘数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider' %}?op=hunlian">婚恋数据分析</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_spider_index' %}" target="_blank">搜索</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="layui-col-xs9 layui-col-sm9 layui-col-md9" id="content">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3>爬虫数据总览</h3>
        </div>
        <div class="layui-card-body">
            <div>
                {% include "app_spider/highcharts.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block right %}
<div id="right" class="layui-col-xs3 layui-col-sm3 layui-col-md3">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                状态信息
            </div>
            {% if op == 'all' %}
            {% for i in mongodb %}
            <div class="layui-colla-content layui-show">
                <a class="list-group-item layui-icon layui-icon-tips">爬虫：{{ i.name }}</a>
                <a class="list-group-item layui-icon layui-icon-tips">已爬数量：{{ i.count }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if op == 'all' %}
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                正在运行的爬虫
            </div>
            {% for i in crawler %}
            <div class="layui-colla-content layui-show">
                <a class="list-group-item layui-icon layui-icon-tips">{{ i.name }}:{{ i.count }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
