{% extends "common/base.html" %}

{% block left %}
<div id="left" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{% url 'app_visual_dsvisual' %}">数据结构与算法</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_visual_picture' %}">图像处理</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_visual_charvideo' %}">字符视频</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_visual_paint' %}">计算机绘图</a>
                    </dd>
                    <dd>
                        <a href="{% url 'app_visual_tetris' %}">俄罗斯方块</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if display == 'charvideo' %}
{% include 'app_visual/charvideo.html' %}
{% elif display == 'dsvisual' %}
{% include 'app_visual/dsvisual.html' %}
{% elif display == 'paint' %}
{% include 'app_visual/paint.html' %}
{% elif display == 'picture' %}
{% include 'app_visual/picture.html' %}
{% elif display == 'tetris' %}
{% include 'app_visual/tetris.html' %}
{% else %}
{% endif %}
{% endblock %}

{% block right %}
{% endblock %}

{% block toolbar %}
{% endblock %}
